* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: beige;
}

#app-header {
  margin-left: 0%;
  max-width: 100%;
  height: 12%;
  padding: 2% 10%;
  border: 2px solid rgb(244, 121, 182);
  background-color: rgb(140, 250, 200);
}

#app-header > h1 {
  margin-left: 35%;
  font-size: 2.8rem;
}
